

/*Call Fonts*/
@font-face{
    font-family:"ArbFONTS-Tajawal-Black";
    src:url("../fonts/ArbFONTS-Tajawal-Black.ttf");
}
@font-face{
    font-family:"ArbFONTS-Tajawal-Bold-1";
    src:url("../fonts/ArbFONTS-Tajawal-Bold-1.ttf");
}
@font-face{
    font-family:"ArbFONTS-Tajawal-Medium";
    src:url("../fonts/ArbFONTS-Tajawal-Medium.ttf");
}
@font-face{
    font-family:"ArbFONTS-Tajawal-Regular-1";
    src:url("../fonts/ArbFONTS-Tajawal-Regular-1.ttf");
}
h1,h2,h3,h4,h5{
    font-family:"ArbFONTS-Tajawal-Bold-1";  
}
/* public */
img{
    width:100%;
}
ul{
    padding:0;
    margin:0;
    list-style: none;
}
a{
text-decoration: none;
color:black;
}
a:hover{
    color:black;
    text-decoration: none;
}
body{
    box-sizing: border-box;
    font-family:"ArbFONTS-Tajawal-Regular-1";
    position: relative;
    overflow-x: hidden;
    font-size:14px;
    text-align: right;
    direction: rtl;
    background-color: #FAF9F9;;
    color:#414141;
    overflow: visible;
}
.logo{
    height:60px;
    margin-top:50px;
}
.logo h5{
font-size:1.3333333333333333em;
color:#212121;
}
.logo span{
    color:#E22555;
}
.sliderNav .sliderDots li {
    cursor: pointer;
    margin-bottom:5px;
    display: none;
}
.sliderNav .sliderDots li.active {
  display: block;
}
.sliderNav{
    position: absolute;
    right: -14%;
    top: 26%;
    text-align: center;
}
.no {
   font-size: 2.2777777777777777em;
   color:#414141;
}
.no span{
    font-size:24px;
    color:#A7A7A7;
}

.owl-nav button{
    width:47px;
    height:47px;
    border-radius: 50%;
    overflow: hidden;
    background-color: white;
    box-shadow: 3px 7px 20px rgba(0, 1, 1, .1);
    position: absolute;
}
.owl-nav button:hover{
    background-color: #E22555  !important;
}
.owl-nav button:hover span{
   color: white;;
}
.owl-nav{
    width:100%;
    margin-top:50px;
    position: relative;
}
.owl-nav button.owl-prev{
    right:10px;
}
.owl-nav button.owl-next{
left:10px;
}
.owl-nav button span{
    font-size:30px;
    color:#9A999E;
}
.navbar{
    width:100%;
    margin-top:30px;
    position: relative; 
    padding: 0;;
z-index: 99;}

.navbar li{
    display: inline-block;
    margin-left:75px;
}
.navbar li:last-child{
    margin-left:0;
}
.navbar li p{
    color:#E22555;
}
.navbar ul{width:100%;}
.navbar li a {
    color:#414141;
    font-family:"ArbFONTS-Tajawal-Bold-1";
    font-size:1.3333333333333333em;
}
.navbar li.reqBtn a{
    color:#414141;
    opacity: .7;
    font-family:"ArbFONTS-Tajawal-Regular-1";
;
}
.heroText h1{
    font-size:12.444444444444445em;
    color:#010101;
}
.heroText{
   margin-right:-100px;
   position: relative;
    z-index: 9;
}
.heroText h1 span{
    color:#E22555;
}
.heroText p{
    display: inline-block;
    font-size:  3.4444444444444446em;
}
.heroText h1.secondText{
    display: inline-block;
}
.heroText span{
}
.subscribe{
    margin-top:30px;
    margin-bottom: 70px;;
}
.subscribe h5{
    font-size:1.3333333333333333em;
    color:#414141;
}
.subscribe p{
    font-size: 1.3333333333333333em;
    color:#414141;

}
.subscribeCobtent{
    width:65%;
}
.subscribe form{
    position: relative;
    margin-top:40px;
}
.subscribe .subscribeBtn{
    position: absolute;
    background-color: #E22555;
    border-radius: 0;
    height:60px;
    width:144px;
    color:white;
    left:0;
    top:0;
    border:1px solid #E22555
}
.form-control{
    background-color: white;;
    width:100%;
    border:0;
    box-shadow: none;
    height:60px;
    border-radius: 0;;

}
.form-control::placeholder{
    font-size:20px;
    color:#9A999E
}
.subscribe .subscribeBtn:hover{
    background-color: #414141;
    border-color: #414141;
}
.newModa{
position: absolute;
font-size:1.3333333333333333em;
color:#414141;
right:39%;
bottom: 10px;
opacity: .7;;
}
.heroSection{
    padding-bottom:60px;
}
.tabsSection{
    padding-top:60px;
    text-align: center;
    padding-bottom:100px;
}
.nav.nav-pills{
    display: inline-flex;
    text-align: center;
    margin-bottom: 70px;
}
#pills-tab .nav-item{
    margin-left:40px;
}
#pills-tab .nav-link{
    width:160px;
    height:60px;
    font-size:1.3333333333333333em;
    line-height: 40px;;
    font-family:"ArbFONTS-Tajawal-Medium";

}
#pills-tab .nav-item:last-child{
    margin-left:0;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #E22555;
    border-radius: 100px;
}
.tabCarusel{
    position: relative;
}
.tabCarusel .owl-nav button.owl-prev{
    right:-10%
}
.tabCarusel .owl-nav button.owl-next{
    left:-10%;
}
.tabCarusel .owl-nav {
    position: absolute;
    top:50%;
    width:100%;
    margin-top: 0;
}
.carreqBtn {
    position: absolute;
    width:250px;
    height:80px;
    background-color: #F7F7F8;
    font-size: 1.3333333333333333em;
    font-family:"ArbFONTS-Tajawal-Bold-1";  
    color:#414141;
    bottom:10%;
    left:10%;
    line-height: 60px;
    border-radius:0;
}
.carreqBtn:hover{
    background-color: #E22555;
    color:white;
}
.previewImg{
    width:100%;
}
.preview{
    padding-top:100px;
    padding-bottom: 100px;
}
.prevText{
    margin-top:150px;
}
.prevText h2{
    font-size:4em;
    color:#E22555;
    margin-bottom: 17px;;
}
.prevText h5{
    color:#414141;
    font-size:2.2222222222222223em;
    opacity: .9;
}
.requestSection h4{
    font-size:2.3333333333333335em;
    margin-bottom: 10px;;
}
.requestSection{
    padding-bottom: 80px;;
}
.requestSection p{
    margin-bottom: 25px;;
}
 p{
    font-size: 1.33333333em;
    color:#9A999E;
}
.requestForm .form-group{
    display: inline-block;
    width:47%;
    margin-left:42px;
    margin-bottom: 15px;;
}
.requestForm .form-group.noMargin{
    margin-left:0;
}
.sendBtn{
    width:450px;
    height:60px;
    background-color: #E22555;
    color:white;
    margin:auto;
    margin-top:35px;
    font-size:  1.3333333333333333em;

}
.sendBtn:hover{
    background-color: #212121;
    color:white;
}
footer{
    background-color: #414141;
    padding-top:35px;
    padding-bottom: 60px;;
}
footer .subscribeCobtent{
    width:75%;
}
footer .subscribe h5,footer h5{
    color:white;
    font-size:1.125em;
}
footer .subscribe{
    margin:0;
}
.socialIcons li{
    display: inline-block;
  border:10px solid #fff;
    border-radius: 50%;
    margin-right:10px;
}
.socialIcons{
    margin-top:20px;
}
.socialIcons li a{
    color:white;
    display: block;
    width:30px;
    height:30px;
    background-color:#E22555 ;
    border-radius: 50%;
    text-align: center;
}
.socialIcons li a i{
    line-height: 30px;;
}
.socialIcons span{
font-size:1.5em;
color:white;
}
.copyRight{
    color:white;
    padding-top:22px;
    padding-bottom: 25px;;
    background-color: rgba(65, 65, 65, .9);
}
footer .subscribe form{
    margin-top:20px;
}
.copyRight span{
    font-size:1em
}
.modal-dialog {
    max-width: 1000px;}
    .modal-content{
        background-color: #FAF9F9;
        padding:36px

    }
#requestDetails .modal-content{
    padding:0
}
.close{
    display: inline-block;
    opacity: 1;
    font-size:25px;
    float: left;
}
.halfModal .close span{
    font-size:25px;

}
button:focus{
    box-shadow: none;
    border:0;
    outline: 0;
}
.close span{
    float:left;
    color:#010101;
    background-color: white;
}
#requestModal .sendBtn{
    width:200px;
}
.halfModal{
    padding:32px;

}
.halfModal h3{
    font-size:1.7777777777777777em;
    color:#E22555
}
.halfModal span{
    color:#414141;
    font-size:2.7777777777777777em;
}
.secondSection{
}
.detailsTitle{
    padding-bottom:20px;
    border-bottom:1px solid rgba(65, 65, 65, .1);
}
.detailsTitle {
    margin-bottom:10px;
}
#requestDetails .modal-dialog{
    height:auto;
    max-width: 95%;
}
#requestDetails .form-group{
    margin-left:22px;
}
#requestDetails .form-group.noMargin{
    margin-left:0;
}
#requestDetails .sendBtn{
    width:200px;
    float: left;
}
#requestDetails .form-group.modalFormgroup {
    width:80%;
    margin-top:35px;
    margin-bottom: 0;;
}
.modalFormgroup label{
   font-size:  1.3333333333333333em;
   display: inline-block;
   font-family:"ArbFONTS-Tajawal-Bold-1";
   width:20%;
   text-align:right;

}
.modalFormgroup .form-control{
    display: inline-block;
    width:70%;
    float: left;
}
.modalSlider{
    height:100%;

}

/* -- quantity box -- */

.quantity {
    display: inline-block; }
   
   .quantity .input-text.qty {
    width: 50px;
    height: 50px;
    padding: 0 5px;
    text-align: center;
    border:0;
    border-left:1px solid  #FAF9F9;
    border-right:1px solid  #FAF9F9
   }
   
   .quantity.buttons_added {
    text-align: left;
    position: relative;
    white-space: nowrap;
    vertical-align: top;
float: left; }
   
   .quantity.buttons_added input {
    display: inline-block;
    margin: 0;
    vertical-align: top;
    box-shadow: none;
   }
   
   .quantity.buttons_added .minus,
   .quantity.buttons_added .plus {
    padding: 7px 10px 8px;
    height: 50px;
    width:50px;
    background-color: white;
    font-size: 1.3333333333333333em;
    border:0;
 
    cursor:pointer;}
   
   .quantity.buttons_added .minus {
    border-right: 0; }
   
   .quantity.buttons_added .plus {
    border-left: 0; }
   
   .quantity.buttons_added .minus:hover,
   .quantity.buttons_added .plus:hover {
    background: #E22555; }
   
   .quantity input::-webkit-outer-spin-button,
   .quantity input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    margin: 0; }
    
    .quantity.buttons_added .minus:focus,
   .quantity.buttons_added .plus:focus {
    outline: none; }
   .textLeft{
       text-align: left;
   }
   .slider-nav{
       position: absolute;
       bottom:15px;
   }
   .slider-nav.slick-initialized .slick-slide{
    width: 80px !important;
    height: 80px;
    border: 2px solid #FAF9F9;
    overflow: hidden;
    margin-left:30px;
    cursor: pointer;
   }
  .slider-nav .slick-list.draggable{
padding:0 15px !important
   }
   @media(min-width:350px) and (max-width:767px){
       body{
           font-size:12px;
       }
       .modal-content{
           max-width: 100%;
           padding:0
       }
       .requestForm .form-group{
           width:100%;
           margin-right:0;
       }

       .halfModal{
           width:100%;
           float: none;
       }
       .navbar li{
           margin-left:15px;

       }
       .navbar li:last-child{
           float: none !important;
       }
    .heroText{
        margin-right:0;
        text-align: center;
   }
   .heroText h1 {
    font-size: 11.444444444444445em;}
    .subscribeCobtent{
        width:100%;
    }
    #pills-tab .nav-link {
        width: auto;
        height: auto;
        padding:5px;
        line-height: 30px;;
    }
    .tabCarusel .owl-nav button.owl-prev{
        right:10%
    }
    .tabCarusel .owl-nav button.owl-next{
        left:10%;
    }
    .tabCarusel .owl-nav {
        position: relative;
        bottom: -29px;
        width:100%;
        margin-top: 0;
    }
    .sendBtn{
        width:100%;
    }
    .logo{
        height:auto
    }
    .sliderNav {
        display: none;
    }
    footer .subscribeCobtent{
        width:100%;
    }
    .requestForm .form-group{
        margin-left:0;
    }
    .preview {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #pills-tab .nav-item{
        margin-left:5px;
    }
    .nav.nav-pills{
        margin-bottom: 20px;;
    }
    .prevText{
        margin-top:50px;
    }
    .newModa{
        bottom: -32px;
    }
    .owl-nav{
        margin:20px 0;
    }
    .heroText{
        margin-top:40px;
    }
    .tabsSection{
padding-top:0;
    }
    .heroSection{
        padding-bottom:30px;
    }
    .textLeft{
        text-align: right;
        margin-top:20px;
    }
}
@media(min-width:767px) and (max-width:1024px){
    body{
        font-size:13px;
    }
    .navbar li{
        margin-left:30px;
    }
    #requestDetails .modal-dialog{
        max-width: 95%;
        height:auto;
        right:-2%
    }
    .requestForm .form-group{
        margin-left:30px;
    }
    .logo{
        margin-top:30px;
    }
    .sliderNav {
        position: absolute;
        right: -32%;
        top: 14%;}

.heroText{
    margin-right:0;
}
.subscribeCobtent{
    width:100%;
}
.owl-nav{
    margin:20px 0;
}
.heroText{
    margin-top:40px;
}
.newModa{
    bottom: -32px;
}
#pills-tab .nav-item {
    margin-left: 10px;
}
#pills-tab .nav-link{
    width:auto;
}
}